<suite name="Suite">
	<listeners>
		<listener class-name="com.alchemist.utils.Listeners" />
	</listeners>
	<test thread-count="5" name="E2E">
		<classes>
			<class name="com.alchemist.AndroidTC_1" />
		</classes>
	</test> <!--Test -->
	<test thread-count="5" name="Error Validation Test">
		<classes>
			<class name="com.alchemist.AndroidTC_1" />
		</classes>
	</test> <!--Test -->
</suite> <!--Suite -->
